* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #7FFFD4;
}

/* SECTION HEADER */
header {
    background-color: white;
}

#topbar {
    height: 100px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}

.topleft,
.toright {
    padding: 0 20px;
}

.logo {
    vertical-align: middle;
    width: 60px;
}

.image {
    display: block;
}

.container {
    max-width: 1000px;
    margin: 20px;
    
    display: flex;
    align-items: center;

    gap: 20px;
}

.difficult,
.play {
    margin-top: 20px;
    padding: 0 40px;
}
/* // SECTION HEADER // */

/* // SECTION MAIN //  */
#grill{
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    /* border: 2px solid black; */
    flex-wrap: wrap;
    display: flex;
}

.box{
    border: 2px solid black;

    flex-basis: calc( 100% / 10 );
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* // SECTION MAIN */
